<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Анализ брака</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Анализ распределения брака</h1>
    <p>Данное приложение помогает анализировать распределение бракованных деталей в производственных партиях.</p>
    <a th:href="@{/input}" class="btn">Начать анализ</a>
    <a th:href="@{/inputTest}" class="btn">Тестирование</a>
</div>
</body>
</html>